[Unit]
Description=notes
After=network.target


[Service]
User=app
WorkingDirectory=/opt/notes
ExecStart=/usr/bin/java -jar -Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom /opt/notes/target/easy-notes-{{app_version.stdout}}.jar
SyslogIdentifier=notes-%i

[Install]
WantedBy=multi-user.target